{% extends 'Skeleton.twig' %}

{% block content %}
  <div class="header">
    <h1>{{ page.title}} </h1>
    <p class="lead">{{ page.description }}</p>
    <p>{{ page.content|raw }}</p>
  </div>

  <div>


    {% for category in categories %}
        <h4>{{ category.title }}</h4>
        {% if category.posts %}
         <!-- <ul class="article-list-thumbnails">
            {% for post in category.posts %}
              <li style="background-image: url('/public/uploads/{{ post.image }}')">
                <h2><a href="{{ page.slug }}/{{ category.slug }}/{{ post.slug }}">{{ post.title }}</a></h2>
              </li>
            {% endfor %}
          </ul>
        -->
        <div class="card-columns">
        {% for post in category.posts %}
        <div class="">
          <div class="card">
            <img class="card-img-top img-fluid" src="/public/uploads/{{ post.image }}" alt="alt">
            <div class="card-block">
              <h4 class="card-title">
                <a href="{{ page.slug }}/{{ category.slug }}/{{ post.slug }}">
                  {{ post.title }}
                </a>
              </h4>
              <p class="card-text">{{ post.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated {{ post.updated_at|date("m/d/Y") }}</small>
            </div>
          </div>
        </div>
        {% endfor %}
          </div>
        {% endif %}
    {% endfor %}
  </div>

{% endblock %}
