{% extends 'Base.twig' %}

{% block body %}
<!-- Page Content -->
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4">
    {{ page.title }}
  </h1>
  <p class="lead">{{ page.description }}</p>
  <p>{{ page.content|raw }}</p>
  {% for category in categories %}
    <h4>{{ category.title }}</h4>
    {% if category.posts %}
      <div class="row">
        {% for post in category.posts %}
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="/public/uploads/{{ post.image }}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ post.page|slugify }}/{{ post.category|slugify ?: 'uncategorized' }}/{{ post.slug }}">{{ post.title }}</a>
              </h4>
              <p class="card-text">{{ post.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <!-- /.row -->
    {% endif %}
  {% endfor %}
</div>
<!-- /.container -->
{% endblock %}