{% extends 'admin/base.twig' %}

{% block css %}
<link rel="stylesheet" href="/bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
{% endblock %}

{% block title %}Edit page {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/admin{{ url.PAGES }}">Page</a></li>
<li class="breadcrumb-item active">Edit</li>

{% endblock %}

{% block content %}

<!-- ADD Page form -->
<div class="new-article-form">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">Edit Page</div>
                <div class="card-block">
                    <form method="post" action="" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                                  <label for="inputTitle">Title</label>
                                  <input type="text" class="form-control" id="inputTitle" name="title" placeholder="Title" value="{{ title }}" required>
                              </div>


                              <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" id="description">{{ description }}</textarea>
                            </div>
                          </div>

                        </div>


                        <div class="form-group">
                            <label for="textareaArticleBody">Content</label>
                            <textarea class="form-control" name="content" id="textareaArticleBody">{{ content }}</textarea>
                        </div>



                        <div class="row">
                            <div class="col-8">
                              <div class="row">
                                  <div class="col-8">
                                    <div class="form-group">
                                        <label class="custom-file">
                                        <input type="file" class="custom-file-input" id="image" name="image" aria-describedby="fileHelp">
                                        <span class="custom-file-control form-control-file "></span>
                                        </label>
                                    </div>
                                  </div>
                                  <div class="col-4">

                                <img src="/uploads/thumbs/150x150/{{ image }}" alt="" class="pull-right">

                                  </div>
                              </div>


                            </div>
                            <div class="col-md-4">

                                <p>Created at: {{ created_at|date("m/d/Y") }}</p>
                                <p>Last update: {{ updated_at|date("F jS \\a\\t g:ia") }}</p>
                                <div class="form-check">
                                     <label class="form-check-label">
                                       <input type="checkbox" name="publish" class="form-check-input" {{ is_published ? 'checked' }}>
                                       Publish
                                     </label>
                                 </div>

                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Categories</div>
            <div class="card-block">
              <div class="list-group" id="categories">
              {% if categories %}
                  {% for category in categories %}
                    <button data-id="{{ category.id }}" class="list-group-item list-group-item-action category">{{ category.title }}</button>
                  {% endfor %}

              {% else %}
              <p class="card-text">No categories found. Please add some.</p>
              {% endif %}
              </div>
            </div>
            <div class="card-footer">
              <button data-toggle="modal" data-target="#addCategoryModal" class="btn btn-outline-primary">Create New</button>
            </div>
          </div>
        </div>
    </div>
</div>

{% include 'modals/addCategory.twig' %}
{% include 'modals/editCategory.twig' %}


{% endblock %}

{% block scripts %}
<script src="/bower_components/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="/bower_components/trumbowyg/dist/plugins/noembed/trumbowyg.noembed.min.js"></script>
<script src="/bower_components/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>

<script src="/js/admin/editorSettings.js"></script>
<script src="/js/admin/addCategoryAjax.js"></script>
<script src="/js/admin/editCategoryAjax.js"></script>

<script>
  // replace select page
  // from categories modal
  $("#addCategoryModal #page_id").parent().replaceWith('<input type="hidden" name="page_id" value="{{ id }}">')
  $("#editCategoryModal #page_id").parent().replaceWith('<input type="hidden" name="page_id" value="{{ id }}">')

  // async request

</script>
{% endblock %}
