{% extends 'admin/base.twig' %}


{% block title %}Show all pages {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Pages</li>
{% endblock %}

{% block content %}

<a href="/admin{{ url.NEW_PAGE }}"><div id="action-button" class="btn-primary">+</div></a>

<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-header">
            List of Pages
        </div>
        <div class="card-block">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Image</th>
                  <th>Published</th>
                </tr>
              </thead>
              <tbody>
                {% for page in pages %}
                <tr>
                  <th scope="row"><a href="/admin/pages/edit/{{ page.id }}">{{ page.id }}</a></th>
                  <td>{{ page.title }}</td>
                  <td>{{ page.description[:35] }}</td>
                  <td>{{ page.image }}</td>
                  <td>{{ page.is_published }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %} {% endblock %}
