{% extends 'admin/base.twig' %}

{% block css %}
<link rel="stylesheet" href="/bower_components/trumbowyg/dist/ui/trumbowyg.min.css">
<link rel="stylesheet" href="/bower_components/jquery.tagsinput/dist/jquery.tagsinput.min.css">
{% endblock %}

{% block title %}Edit {{ post.title }} {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="/admin{{ url.POSTS }}">Posts</a></li>
<li class="breadcrumb-item active">Edit</li>

{% endblock %}

{% block content %}

<!-- Edit post form -->
  <div class="row">
      <div class="col-lg-9">
          <div class="card">
              <div class="card-header">Edit Post</div>
              <div class="card-block">
                  <form method="post" action="" id="mainForm">
                      <div class="form-group">
                          <label for="inputTitle">Title</label>
                          <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ post.title }}" required>
                      </div>


                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description">{{ post.description }}</textarea>
                    </div>


                      <div class="form-group">
                          <label for="inputTags">Tags</label>
                          <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="{{ post.tags }}" required>
                      </div>

                      <div class="form-group">
                          <label for="textareaArticleBody">Content</label>
                          <textarea class="form-control" name="content" id="textareaArticleBody">{{ post.content }}</textarea>
                      </div>


                      <button type="submit" class="btn btn-primary">Save</button>
                  </form>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-12" style="padding: 0">
        <div class="row">
          <div class="card-deck col-12">

            <div class="col-lg-12 col-6">
              <div class="card">
                <div class="card-header">Image</div>
                <div class="card-block">
                  <label>
                    <img id="currentImage" class="img-fluid" src="/uploads/thumbs/150x150/{{ post.image }}">
                    <input type="file" class="upload" id="image" hidden />
                  </label>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-6">
            <div class="card">
              <div class="card-header">Other Information</div>
              <div class="card-block" style="padding: 0">
                <table class="table" style="margin: 0">
                  <tbody>
                    <tr style="cursor: pointer;" id="getPages" data-id="{{ post.page_id }}">
                      <td>Page</td>
                      <td>{{ post.page }}</td>
                    </tr>
                    <tr style="cursor: pointer;" id="getCategories" data-id="{{ post.category_id }}" data-function="get">
                      <td>Category</td>
                      <td>{{ post.category }}</td>
                    </tr>
                    <tr style="cursor: pointer;" id="switchPublished" data-val="{{ post.is_published }}">
                      <td>Published</td>
                      <td>{{ post.is_published ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr style="cursor: pointer;" id="getAuthors" data-id="{{ post.author_id }}">
                      <td>Author</td>
                      <td>{{ post.author }}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="/bower_components/trumbowyg/dist/trumbowyg.min.js"></script>
<script src="/bower_components/trumbowyg/dist/plugins/noembed/trumbowyg.noembed.min.js"></script>
<script src="/bower_components/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>
<script src="/bower_components/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script src="/js/admin/editorSettings.js"></script>

<script type="text/javascript">
$(".loader").hide();
console.log(`{{ dump(post)}}`);
var page_id = '{{ post.id }}';

// MAIN JAVASCRIPT GOES HERE
$(document).ready(function(){

  // Changed class setters for update
  $("#title").change(function() {
    $(this).addClass('changed');
  });

  $("#description").change(function() {
    $(this).addClass('changed');
  });

  // Main form AJAX updating request
  $("#mainForm").submit(function(e) {
    e.preventDefault();

    // data object
    var formData = {};

    // set id
    formData.id = '{{ post.id }}';

    // set title if changed
    if ($("#title").hasClass('changed')) {
      formData.title = $("#title").val();
    }

    // set description if changed
    if ($("#description").hasClass('changed')) {
      formData.description = $("#description").val();
    }

    // set tags if changed
    if ($("#tags").hasClass('changed')) {
      formData.tags = jQuery( '#tags' ).tagsInput()[0].value;;
    }

    // set content if changed
    if ($("#textareaArticleBody").hasClass('changed')) {
      formData.content = $('#textareaArticleBody').trumbowyg('html');
    }

    console.log(formData);
    // send the request and get response
    $.post( "/admin/posts/editAjax", formData).done(function(data) {
      console.log(data)
      if (data === 'error') {
        toastr.warning('Please change something to update', 'Warning');

      } else {
        toastr.success('Article has been updated', 'Success');
      }
    });

  });

  /* SIDEBAR UPDATED METADATA */

  // get pages
  $("#getPages").parent().on('click', '#getPages', function() {
    var selectedPage = $(this).data('id');
    // get list of pages
    $.get( "/admin/posts/getPagesAjax", {}).done(function(data) {
      console.log(data)
      $("#getPages").attr('id', 'selectPage');
      var self = $("#selectPage td:nth-child(2)").html('');
      var select = $('<select class="custom-select" id="page">').appendTo(self);
      $.each(JSON.parse(data), function(key, value) {
          select.append($("<option>").attr('value',value.id).text(value.title));
      });
      $("tr#selectPage>td>select>option[value='"+selectedPage+"']").prop('selected', true);

    });

    // open categories select
    $(document).on('change', '#page', function() {
      var selectedText = $(this).find(":selected").text();
      var selectedValue = $(this).find(":selected").val();
      $("#selectPage").data('id',selectedValue);
      console.log($("#selectPage").data('id'));
      $("#selectPage").attr('id', 'getPages');
      var self = $("#getPages td:nth-child(2)").html(selectedText);
      $("#selectCategory").attr('id', 'getCategories');
      $("#getCategories").trigger('click');
      toastr.info('Now you need to select a category', 'Almost there')

    })

  });

  // get categories handler
  $("#getCategories").parent().on('click', '#getCategories', function() {
      // get list of categories
      var selectedCategory = $(this).data('id');
      console.log(selectedCategory)
      $.post( "/admin/posts/getCategoriesAjax", { page_id: $("#getPages").data('id') })
      .done(function( data ) {
        // change id
        $("#getCategories").attr('id', 'selectCategory');
        var self = $("#selectCategory td:nth-child(2)");
        // append them to view
        $(self).html('');
        var select = $('<select class="custom-select" id="category">').appendTo(self);
        select.append($('<option>').attr('value', 0).prop("disabled", true).prop('selected', true).text("Please select"));
        $.each(JSON.parse(data), function(key, value) {
          select.append($("<option>").attr('value',value.id).text(value.title));
        });
        $("tr#selectCategory>td>select>option[value='"+selectedCategory+"']").prop('selected', true);
        $(self).parent().attr('data-function', 'select');
      });

      // send post request after change
      $(document).on('change', '#category', function() {
        var selected = $(this).find(":selected").text();
        var selectedValue = $(this).find(":selected").val();
        console.log('changed to: ' + selected + " (" + selectedValue + ")")

        $.post("/admin/posts/editAjax", { id: page_id, category_id: selectedValue }).done(function(data) {
          console.log(data);
          // change view again
          $("#selectCategory").attr('id', 'getCategories');
          $("#getCategories td:nth-child(2)").html(selected);
          $("#getCategories").data('id', selectedValue);
          toastr.success('Category has been changed', 'Success')

        });

  })

  });

  // get authors handler
  $(document).on("click", "#getAuthors", function() {

    var currentAuthor = $(this).data('id');
    $.get("/admin/user/getAuthorsAjax", {}).done(function(data) {
      $("#getAuthors").attr('id', 'selectAuthor');
      var self = $("#selectAuthor td:nth-child(2)").html('');
      var select = $('<select class="custom-select" id="author">').appendTo(self);
      $.each(JSON.parse(data), function(key, value) {
          select.append($("<option>").attr('value',value.id).text(value.username));
      });
      $("tr#selectAuthor>td>select>option[value='"+currentAuthor+"']").prop('selected', true);
      console.log(data);

      // send ajax post request
      $(document).on('change', '#author', function() {
        var selectedUsername = $(this).find(":selected").text();
        var selectedId = $(this).find(":selected").val();
        $.post('/admin/posts/editAjax', { id: page_id, author_id: selectedId}).done(function(data) {
          console.log(data);
          $("#selectAuthor").data('id',selectedId);
          $("#selectAuthor").attr('id','getAuthors');
          $('#getAuthors td:nth-child(2)').html(selectedUsername);
          toastr.success('Author has been changed!', 'Success')

        });
      });
    });

  });

  // get published
  $("#switchPublished").click(function() {
    // switch published with ajax
    var is_published = $(this).data('val');
    var is_published_text;

    if (is_published === 1) {
      is_published = 0;
      is_published_text = "No";
    } else {
      is_published = 1;
      is_published_text = "Yes";
    }

    // send post request
    $.post("/admin/posts/editAjax", { id: page_id, is_published: is_published }).done(function(data) {
        console.log(data)
        $("#switchPublished td:nth-child(2)").html(is_published_text);
        $("#switchPublished").data('val', is_published);
        toastr.success('Article state has been changed!', 'Success')

    });

  });

  // change image ajax
  input = $("#image").change(function(event) {
    var file = event.target.files;
    if (file) {
      //console.log(file[0]);
      // set loader
      $("#currentImage").replaceWith("<img class='loader' src='/images/loader.svg'>")

      var formData = new FormData();
      formData.append('image', file[0]);
      formData.append('id', {{ post.id }});
      $.ajax({
          type: "POST",
          url: "/admin/posts/changeImageAjax",
          data: formData,
          processData: false,
          contentType: false
      }).done(function(data){
        console.log(data)
        // replace loader with image
        $(".loader").replaceWith('<img id="currentImage" src="/uploads/thumbs/150x150/posts/'+ data +'">');
        toastr.success('Image has been updated', 'Success');

      });
    }
  });


  $('#tags').tagsInput({
    'height':'auto',
    'width':'auto',
    'onChange': function() {
      setTimeout(function(){
        if ( jQuery( '#tags' ).tagsInput()[0].value !== '{{ post.tags }}') {
      //    console.log(jQuery( '#tags' ).tagsInput()[0].value + 'is different than ' + '{{ post.tags }}')
          $("#tags").addClass('changed');
      //    alert('changed tag')
        }
      }, 100)


    }
  });

});
</script>
{% endblock %}
