{% extends 'Base.twig' %}

{% block body %}
<!--content area start-->
<div id="content"
     class="content-area 
            inner-page ">

  <div class="container-fluid">
    <div class="row" 
         id="card-masonry">
      <div class="col-md-10 
                    col-md-offset-1">
      <h1 class="text-center">
        Pages
      </h1>
      <div class="pmd-card 
                  pmd-z-depth 
                  pmd-card-custom-view">
        <div class="pmd-table-card">
          <table class="table pmd-table 
                        table-hover 
                        table-pointer">
            <thead>
              <tr>
                <th>#id</th>
                <th>Title</th>
                <th>Published</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for page in pages %}
              <tr onclick="router.go('/admin/pages/update/{{ page.id }}')">
                <td data-title="#id">
                   <a href="/admin/pages/update/{{ page.id }}">
                    {{ page.id }}
                   </a>
                </td>
                <td data-title="Title">
                  {{ page.title }}
                </td>
                <td data-title="Published">
                  {{ page.is_published }}
                </td>
                <td data-title="Created at">
                  {{ page.created_at }}
                </td>
                <td data-title="Updated at">
                  {{ page.updated_at }}
                </td>
                <td data-title="Action"></td>
                <td data-title="">
                  <a href="javascript:void(0);">
                    <i class="material-icons 
                              md-dark 
                              pmd-sm">
                      more_vert
                    </i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div> <!-- Card table example end -->
      
      </div>

  </div>
    
</div>

</div><!--end content area-->

<a onclick="router.go('/admin/pages/create')" 
   role="button" 
   class="btn 
          pmd-btn-fab 
          pmd-ripple-effect 
          pmd-floating-action 
          btn-primary">
  <i class="material-icons 
            pmd-sm">
    add
  </i>
</a>

{% endblock %}