{% extends 'admin/base.twig' %}

{% block title %}{{ lang.DASHBOARD }} {% endblock %}

{% block breadcrumbs %}{{ lang.DASHBOARD }} {% endblock %}

{% block content %}
<!-- Top Statistics -->
<div id="dashboard-statistics">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 ">
            <div class="card">
                <div class="card-header">
                    {{ lang.USERS }}
                </div>
                <div class="card-block text-center">
                    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                </div>
                <div class="card-footer">
                    <h4 class=" value">{{ numberOfUsers }}</h4>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    {{ lang.PAGES }}
                </div>
                <div class="card-block text-center">
                    <i class="fa fa-file fa-5x" aria-hidden="true"></i>
                </div>
                <div class="card-footer">
                    <h4 class="value">{{ numberOfPages }}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    {{ lang.POSTS }}
                </div>
                <div class="card-block text-center">
                    <i class="fa fa-rss fa-5x" aria-hidden="true"></i>
                </div>
                <div class="card-footer">
                    <h4 class="value">{{ numberOfPosts }}</h4>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">

            <div class="card">
                <div class="card-header">
                    {{ lang.CATEGORIES }}
                </div>
                <div class="card-block text-center">
                    <i class="fa fa-comments fa-5x" aria-hidden="true"></i>
                </div>
                <div class="card-footer">
                    <h4 class="value">{{ numberOfCategories }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="dashboard-third-row">
    <!-- Chat -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">{{ lang.LIVE_CHAT }}</div>
            <div class="card-block" id="live-chat-body">

                <div class="row" id="message-wrapper">
                    <div class="col-3">
                        <img class="img-fluid" src="http://placehold.it/150x150">
                    </div>
                    <div class="col-8">
                        <p>hello from admin
                        {% if page %}
                        <p> This is {{ page }} page </p>
                        {% endif %}
                        {% if post %}
                        <p> And {{ post }} post </p>
                        {% endif %}
!</p>
                        <p class="text-muted">Matej Vrzala <span class="float-right">13.2 14:21</span></p>
                    </div>
                </div>
                <hr>

                <div class="row" id="message-wrapper">
                    <div class="col-3">
                        <img class="img-fluid" src="http://placehold.it/150x150">
                    </div>
                    <div class="col-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos culpa, eos quis facere dolor maxime, nesciunt, quod asperiores repellendus impedit aut, aliquam commodi! Vel laudantium ducimus debitis veniam, sapiente nam!</p>
                        <p class="text-muted">Matej Vrzala <span class="float-right">13.2 14:21</span></p>
                    </div>
                </div>
                <hr>

                <div class="row" id="message-wrapper">
                    <div class="col-3">
                        <img class="img-fluid" src="http://placehold.it/150x150">
                    </div>
                    <div class="col-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos culpa, eos quis facere dolor maxime, nesciunt, quod asperiores repellendus impedit aut, aliquam commodi! Vel laudantium ducimus debitis veniam, sapiente nam!</p>
                        <p class="text-muted">Matej Vrzala <span class="float-right">13.2 14:21</span></p>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Write message ...">
                    <span class="input-group-btn">
                        <button class="btn" type="button">{{ lang.SEND }}</button>
                    </span>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">{{ lang.TASKS }}</div>
            <div class="card-block">
                <ul class="list-group" id="tasks">
                    <li class="list-group-item justify-content-between" id="task">
                       Cras justo odio
                         <span><input type="checkbox"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Dapibus ac facilisis in<span><input type="checkbox"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Morbi leo risus<span><input type="checkbox"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Porta ac consectetur ac<span><input type="checkbox"></span>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Vestibulum at eros<span><input type="checkbox"></span>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary">{{ lang.ADD }}</button>
            </div>
        </div>

    </div>


</div>



</div>


{% endblock %}

{% block scripts %} {% endblock %}
