<div class="section billinfo"> 
  <!-- section content start-->
  <form id="validationForm" action="" method="post">
  <div class="pmd-card pmd-z-depth">
    <!-- card body start -->
    <div class="pmd-card-body">
    
    {% include 'Form/Partials/Title.twig' %}
    {% include 'Form/Partials/Description.twig' %}
    {% include 'Form/Partials/Content.twig' %}


    <!-- Select page-->
    <div class="form-group pmd-textfield pmd-textfield-label">       
      <label>Parent Page</label>
      <select class="select-page form-control">
        <option value=""></option>
        {% for page in pages %}
          <option {{ page.value == post.page_id ? 'selected' : ''}} value="{{ page.value }}">{{ page.label }}</option>
        {% endfor %}
        </select>
    </div>

    <!-- Select category-->
    <div class="form-group pmd-textfield pmd-textfield-label" style="{{ categories ? '' : 'display:none;' }}">       
      <label>Select Category</label>
      <select class="select-category form-control">
        <option value=""></option>
        {% for category in categories %}
          <option {{ category.value == post.category_id ? 'selected' : '' }} value="{{ category.value }}">{{ category.label }}</option>
        {% endfor %}
        </select>
    </div>

    {% include 'Form/Partials/HeaderImage.twig' %}
    {% include 'Form/Partials/Publish.twig' %}

    <!-- Select author-->
    {#
    <div class="form-group pmd-textfield pmd-textfield-label">       
      <label>Select Page</label>
      <select class="select-simple form-control">
        {% for page in pages %}
          <option value="{{ page.value }}">{{ page.label }}</option>
        {% endfor %}
        </select>
    </div> #}



     <input type="hidden" name="id" value="{{ post.id }}">

    </div>   <!-- card body end -->    

    <div class="pmd-card-actions">
      <a href="javascript:void(0);" class="btn btn-primary nex submit">Submit</a>
      {% block formButtons %}{% endblock %}
    </div>

  </div> <!-- section content end -->  
  </form>
</div>

    {% include 'modules/image/Modal.twig' %}
    {% include 'Form/Partials/DeleteModal.twig' %}



