{% extends 'Base.twig' %}

{% block body %}
<!--content area start-->
<div id="content" class="content-area inner-post ">

  <div class="container-fluid">
    <div class="row" id="card-masonry">
           
        <div class="col-md-10 col-md-offset-1">

          <h1 class="text-center">Posts</h1>


            <div class="pmd-card pmd-z-depth pmd-card-custom-view">
              <div class="pmd-table-card">
                <table class="table pmd-table table-hover table-pointer">
                <thead>
                  <tr>
                    <th>#id</th>
                    <th>Title</th>
                    <th>Published</th>
                    <th>Page</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                  </tr>
                </thead>
                <tbody>
                  {% for post in posts %}
                  <tr onclick="router.go('/admin/posts/update/{{ post.id }}')">
                    <td data-title="#id">
                       <a href="/admin/posts/update/{{ post.id }}">
                        {{ post.id }}
                       </a>
                    </td>
                    <td data-title="Title">{{ post.title }}</td>
                    <td data-title="Published">{{ post.is_published }}</td>
                    <td data-title="Page">{{ post.page }}</td>
                    <td data-title="Category">{{ post.category }}</td>
                    <td data-title="Author">{{ post.author }}</td>
                    <td data-title="Created at">{{ post.created_at }}</td>
                    <td data-title="Updated at">{{ post.updated_at }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div> <!-- Card table example end -->
          
          </div>

  </div>
    
</div>

</div><!--end content area-->

<a onclick="router.go('/admin/posts/create')" role="button" class="btn pmd-btn-fab pmd-ripple-effect pmd-floating-action btn-primary">
  <i class="material-icons pmd-sm">
    add
  </i>
</a>

{% endblock %}