<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | Admin Area</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/css/admin/style.min.css">
    {% block css %}{% endblock %}
</head>

<body>
    <!-- TOP LEVEL NAVBAR -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary nav-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">M4Admin</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url.PROFILE }}">{{ lang.PROFILE }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url.PUBLIC }}">{{ lang.WEBSITE }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url.LOGOUT }}">{{ lang.LOGOUT }}</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- COLLAPSING SIDEBAR WITH MENU -->
    <div id="sidebar" class="slideInLeft">
        <nav class="nav flex-column">
            <a class="nav-link active" href="/admin">
                <i class="fa fa-tachometer" aria-hidden="true"></i> {{ lang.DASHBOARD }}
            </a>
            <a class="nav-link" href="/admin{{ url.PAGES }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> {{ lang.PAGES }}
            </a>
            <a class="nav-link" href="/admin{{ url.POSTS }}">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i> {{ lang.POSTS }}
            </a>
            <a class="nav-link" href="/admin{{ url.USERS }}">
                <i class="fa fa-user-o" aria-hidden="true"></i> {{ lang.USERS }}
            </a>
            <a class="nav-link" href="/admin{{ url.SETTINGS }}">
                <i class="fa fa-wrench" aria-hidden="true"></i> {{ lang.SETTINGS }}
            </a>
        </nav>
    </div>


    <!-- PAGE CONTENT AREA -->
    <div id="content">
        <i class="fa fa-bars fa-2x" id="nav-toggle" aria-hidden="true"></i>
        <ol class="breadcrumb">
            {% block breadcrumbs %}{% endblock %}
        </ol>

        <div class="container">
          {% block content %}{% endblock %}
        </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js"></script>
    <script src="/bower_components/Sortable/Sortable.min.js"></script>

    <script src="/js/admin/script.js"></script>

    {% block scripts %}{% endblock %}

</body>

</html>
